<mat-toolbar class="header-toolbar">
  <!-- Left Section: Breadcrumb only (mobile menu toggle removed) -->
  <div class="header-left">
    <button mat-icon-button 
            *ngIf="isMobile"
            class="menu-toggle"
            (click)="toggleMobileSidebar.emit()"
            matTooltip="Abrir menú"
            matTooltipPosition="below">
      <mat-icon>menu</mat-icon>
    </button>
    
    <app-breadcrumb class="breadcrumb-container"></app-breadcrumb>
  </div>

  <!-- Right Section: User Menu -->
  <div class="header-right" *ngIf="currentUser$ | async as user">
    <!-- User Info -->
    <div class="user-info" [matMenuTriggerFor]="userMenu">
      <div class="user-avatar">
        <img [src]="user.avatar || 'assets/person.jpg'" [alt]="user.firstName + ' ' + user.lastName">
      </div>
      <div class="user-details" *ngIf="!isMobile">
        <span class="user-name">{{ user.firstName }} {{ user.lastName }}</span>
      </div>
      <mat-icon class="dropdown-icon">keyboard_arrow_down</mat-icon>
    </div>

    <!-- User Menu -->
    <mat-menu #userMenu="matMenu" class="user-menu">
      <div class="menu-header" *ngIf="isMobile">
        <div class="menu-user-info">
          <div class="menu-avatar">
            <img [src]="user.avatar || 'assets/logo.png'" [alt]="user.firstName + ' ' + user.lastName">
          </div>
          <div class="menu-user-details">
            <span class="menu-user-name">{{ user.firstName }} {{ user.lastName }}</span>
            <span class="menu-user-email">{{ user.email }}</span>
          </div>
        </div>
      </div>

      <button mat-menu-item (click)="navigateToProfile()">
        <mat-icon>person</mat-icon>
        <span>Mi Perfil</span>
      </button>

      <button mat-menu-item (click)="navigateToSettings()">
        <mat-icon>settings</mat-icon>
        <span>Configuración</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout()" class="logout-item">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
